.Card {
border-radius: 0.5px;
border-color: black;
border-top: 2cm;
border-bottom: 2cm;
align-items: center;
width: 200px;
height: 200px;
text-align: center;
}
.Card-header {
    background-color: aqua;
}
.Navbar{
    background-color: black;
}